af-navbar-title(label="MeraEvents")
af-layout(direction="column" flex=1)
	af-scroll(flex=1)
		af-list-view(items="data.event_list_res.response.eventList" static af-onclick="selectEvent(data,item)")
			af-layout(direction="column")
				af-layout(direction="row" padding=10 )
					af-layout(direction="column" padding=10 align-items="flex_center")
						af-label(text="${weekDay(data.startDate)}" label-type="caption" text-color="#FF0000")
						af-label(text="${formatDate(data.startDate)}" label-type="title")
						af-label(text="${formatMonth(data.startDate)}" dim label-type="caption")
					af-layout(direction="column" flex=1 bg-color="FFFF00")
						af-layout(direction="column" padding=10)
							af-label(text="${data.title}" label-type="subhead" lines=2)
							af-label(text="@ ${data.venueName}" dim label-type="body_1" lines=2)
							af-label(text="${timeFormatter(data.startDate)}" dim label-type="body_1" lines=1)
						af-image-view(src="${data.thumbImage}" height=200 resize="fill" bg-color="#000000")
				af-divider

script.

	var selectEvent = function(data, item){
		processIntent("show_event", {"eventId":item.id});
	}

	var eventSpan = function (data) {
		var startDate = new Date(data.startDate);
		var endDate = new Date(data.endDate);
		if (equalDates(startDate, endDate)) {
			return "starts on " + dateFormatter(data.startDate) + " ends at " + timeFormatter(data.endDate);
		}
		else {
			return "starts on " + dateFormatter(data.startDate) + " ends on " + dateFormatter(data.endDate);
		}
	}

	var weekDay = function (dateStr) {
		var date = new Date(dateStr.replace(" ","T"));
		if(date.getDay() == 0)
				return "SUN";
		else if (date.getDay() == 1)
			return "MON";
		else if (date.getDay() == 2)
			return "TUE";
		else if (date.getDay() == 3)
			return "WED";
		else if (date.getDay() == 4)
			return "THU";
		else if (date.getDay() == 5)
			return "FRI";
		else if (date.getDay() == 6)
			return "SAT";
	}
	var equalDates = function (date1, date2) {
		return !(date1.getDate() != date2.getDate() || date1.getMonth() != date2.getMonth() || date1.getYear() != date2.getYear())
	}

	var book = function (data) {
		viewAction("dismiss-pop", {data:"Hi"});
		processIntent("book", data);
	}

	var formatDate = function (dateStr) {
		var date = new Date(dateStr.replace(" ", "T"));
		return date.getDate();
	}

	var formatMonth = function (dateStr) {
		var date = new Date(dateStr.replace(" ", "T"));
		if (date.getMonth() == 0)
			return "JAN";
		else if (date.getMonth() == 1)
			return "FEB";
		else if (date.getMonth() == 2)
			return "MAR";
		else if (date.getMonth() == 3)
			return "APR";
		else if (date.getMonth() == 4)
			return "MAY";
		else if (date.getMonth() == 5)
			return "JUN";
		else if (date.getMonth() == 6)
			return "JUL";
		else if (date.getMonth() == 7)
			return "AUG";
		else if (date.getMonth() == 8)
			return "SEP";
		else if (date.getMonth() == 9)
			return "OCT";
		else if (date.getMonth() == 10)
			return "NOV";
		else if (date.getMonth() == 11)
			return "DEC";
	}

	var dateFormatter = function (dateStr) {
		var date = new Date(dateStr.replace(" ","T"));
		return date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear() + " " + ((date.getHours() % 12) > 9 ? "" : "0") + (date.getHours() % 12) + ":" + date.getMinutes() + " " + (date.getHours() > 12 ? "PM" : "AM");
	}

	var timeFormatter = function (dateStr) {
		var date = new Date(dateStr.replace(" ","T"));
		return (date.getHours() % 12) + (date.getMinutes() == 0 ? "" : (":" + date.getMinutes())) + " " + (date.getHours() > 12 ? "PM" : "AM");
	}