//Event Banner (Image)
af-navbar-title(component-identifier="event_view" label="Event View" src="http://wowslider.com/sliders/demo-10/data/images/dock.jpg")
af-layout(direction="column")
    af-scroll(margin=0 weight=1)
        af-layout
            af-layout(direction="column" elevation="level1" bg-color="#FFFFFF" margin=10 padding=10 padding-left=18 padding-right=18)
                //Event Title
                af-label(text="${event_details.response.details.title}" appearance="headline")
                //Event Venue Details
                af-layout(direction="row" af-onclick="openlocation(event_details.response.details)" margin-top=10)
                    af-icon(icon="MAP_MARKER_RADIUS" size=22 dim)
                    af-label(text="at ${event_details.response.details.venueName}, ${event_details.response.details.location.cityName}" appearance="subhead" margin-left=10 dim)
                //Event Time Details
                af-layout(direction="row" af-onclick="openlocation(event_details.response.details)" margin-top=10 margin-bottom=10)
                    af-icon(icon="CLOCK" size=22 dim)
                    af-label(text="${timeFormatter(event_details.response.details.startDate)}" appearance="subhead" dim margin-left=10)
                af-button(label="BOOK TICKETS" af-onclick="book($data)" primary)
            //Event Description
            af-layout(padding=10)
                af-label(text="Synopsis" text-color="#455696" appearance="title" margin-bottom=10)
                af-webview(content="${event_details.response.details.description}" height=300)

//Event Book Ticket
//af-layout(direction="column" bg-color="#455696" inverted padding-top=5 padding-bottom=5)


script.

    //cleverTapEvent called on Event details page loading
    var onLoad = function (data, scope) {
        viewAction("app-send-data", {
            type: "cleverTapEvent",
            name: "Event Viewed",
            data: {source: "AppsFly", "Event Name": data.event_details.response.details.title, "Event Id": data.eventId}
        });
    }

    //Open Google Map Location(Function)
    var openlocation = function (data) {
        var urlcomponent = "comgooglemaps://?q=" + encodeURI(data.venueName + "," + data.location.cityName);
        viewAction("open-link", {link: urlcomponent});
    }

    //Dismiss the page
    var dismiss = function () {
        viewAction("dismiss-app", {});
    }

    //Weekday Formatting
    var weekDay = function (dateStr) {
        var date = new Date(dateStr.replace(" ", "T"));
        if (date.getDay() == 0)
            return "SUN";
        else if (date.getDay() == 1)
            return "MON";
        else if (date.getDay() == 2)
            return "TUE";
        else if (date.getDay() == 3)
            return "WED";
        else if (date.getDay() == 4)
            return "THU";
        else if (date.getDay() == 5)
            return "FRI";
        else if (date.getDay() == 6)
            return "SAT";
    }

    //Date Subscript Formatting
    var nth = function (d) {
        if (!(!(d > 3) || d >= 21)) return 'th';
        switch (d % 10) {
            case 1:
                return "st";
            case 2:
                return "nd";
            case 3:
                return "rd";
            default:
                return "th";
        }
    }

    //Add subscript to date
    var formatDate = function (dateStr) {
        var date = new Date(dateStr.replace(" ", "T"));
        return date.getDate() + nth(date.getDate());
    }

    //Month Formatting
    var formatMonth = function (dateStr) {
        var date = new Date(dateStr.replace(" ", "T"));
        if (date.getMonth() == 0)
            return "JAN";
        else if (date.getMonth() == 1)
            return "FEB";
        else if (date.getMonth() == 2)
            return "MAR";
        else if (date.getMonth() == 3)
            return "APR";
        else if (date.getMonth() == 4)
            return "MAY";
        else if (date.getMonth() == 5)
            return "JUN";
        else if (date.getMonth() == 6)
            return "JUL";
        else if (date.getMonth() == 7)
            return "AUG";
        else if (date.getMonth() == 8)
            return "SEP";
        else if (date.getMonth() == 9)
            return "OCT";
        else if (date.getMonth() == 10)
            return "NOV";
        else if (date.getMonth() == 11)
            return "DEC";
    }

    //Comparing start date with end date
    var equalDates = function (date1, date2) {
        return !(date1.getDate() != date2.getDate() || date1.getMonth() != date2.getMonth() || date1.getYear() != date2.getYear())
    }

    //On click, opens Tickets_view
    var book = function (data) {
        af_send_intent("book", data);
    }

    //Date Formatting
    var dateFormatter = function (dateStr) {
        var date = new Date(dateStr);
        return date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear() + " " + ((date.getHours() % 12) > 9 ? "" : "0") + (date.getHours() % 12) + ":" + date.getMinutes() + " " + (date.getHours() > 12 ? "PM" : "AM");
    }

    //Time Formatting
    var timeFormatter = function (dateStr) {
        var date = new Date(dateStr.replace(" ", "T"));
        return (date.getHours() % 12) + (date.getMinutes() == 0 ? "" : (":" + date.getMinutes())) + " " + (date.getHours() > 12 ? "PM" : "AM");
    }