//Payment Page(Text)
af-navbar-title(label="Payment" component-identifier="pay_view")
af-layout(direction="column" weight=1)
    af-divider
    af-progressbar
    af-scroll(weight=1)
        //Raised effect for layout
        af-layout(elevation="level1")
            af-layout(direction="column" elevation="level1" bg-color="#FFFFFF" margin=10 padding=10 padding-left=18 padding-right=18)
                //Event Title
                af-label(text="${event_details.response.details.title}" appearance="headline")
                //Event Venue Details
                af-layout(direction="row" af-onclick="openlocation(event_details.response.details)" margin-top=10)
                    af-icon(icon="MAP_MARKER_RADIUS" size=22 dim)
                    af-label(text="at ${event_details.response.details.venueName}, ${event_details.response.details.location.cityName}" appearance="subhead" margin-left=10 dim)
                //Event Time Details
                af-layout(direction="row" af-onclick="openlocation(event_details.response.details)" margin-top=10 margin-bottom=10)
                    af-icon(icon="CLOCK" size=22 dim)
                    af-label(text="${timeFormatter(event_details.response.details.startDate)}" appearance="subhead" dim margin-left=10)
                af-divider
                //Total Number of tickets booked
                af-label(text="${total_tickets} Tickets" appearance="title" text-align="center" margin-top=10 margin-bottom=10 )
                //List of Tickets being booked
        af-listview(items="calculations.fareDetails")
            af-layout(direction="row" padding=10)
                af-label(text="${ticketTitle} x ${quantity}" weight=1 appearance="subhead" )
                af-label(text="${totalAmount} ${currency}" appearance="subhead" align="end" )
        af-divider
        af-layout(direction="row" padding=10)
            //Total Price of the Tickets
            af-label(text="Total Price " weight=1  appearance="subhead" dim)
            af-label(text="${calculations.response.calculationDetails.totalTicketAmount} ${calculations.response.calculationDetails.currencyCode}" appearance="subhead" align="end" dim)

        af-listview(items="calculations.extraCharge" )
            af-layout(direction="row" padding=10)
                //Total Extra Charge or convenience Fee being Charged
                af-label(text="${detail}" weight=1 appearance="subhead" dim)
                af-label(text="${charge} ${currency}" appearance="subhead" align="end" dim)

        af-listview(items="calculations.totalTaxDetails")
            af-layout(direction="row" padding=10)
                //Total Tax being charged on the Tickets being booked
                af-label(text="${label} (${percent} %)" weight=1 appearance="subhead" dim)
                af-label(text="${tax} INR" appearance="subhead" align="end" dim)

        af-layout(direction="row" padding=10 af-visible="calculations.response.calculationDetails.totalCodeDiscount?'true':'false'")
            //Total Discount given on the Tickets being booked
            af-label(text="Discount Amount" weight=1 appearance="subhead" dim)
            af-label(text="- ${calculations.response.calculationDetails.totalCodeDiscount} INR" appearance="subhead" align="end" dim)

        af-layout(direction="row" padding=10)
            //Promo Code if any, to be applied
            af-layout(direction="column" weight=1 right-padding=10 bottom-padding=3)
                af-textedit(appearance="subhead" hint="Enter Promo-Code" af-value="promo_code" )
            af-button(label="Apply" af-onclick="applyPromocode($data)")

        af-label(text="${calculations.response.messages[0]}" dim)


af-layout(direction="row" inverted bg-color="#000000")
    //Total Amount to be paid after considering all Taxes, Extra charge & Discounts
    af-layout(weight=1 padding-left=10 padding-top=5 padding-bottom=5)
        af-label(appearance="caption" dim text="Total Amount")
        af-label(text="${calculations.response.calculationDetails.totalPurchaseAmount} ${calculations.response.calculationDetails.currencyCode}" appearance="title")
    af-layout(direction="column" bg-color="#455696" inverted padding-right=10 padding-left=10 padding-top=5 padding-bottom=5 weight=1)
        af-button(label="Pay ${calculations.response.calculationDetails.totalPurchaseAmount} ${calculations.response.calculationDetails.currencyCode}" af-onclick="showPaytmWallet($data)")


script.

    //Time Formatter
    var timeFormatter = function (dateStr) {
        var date = new Date(dateStr.replace(" ", "T"));
        return (date.getHours() % 12) + (date.getMinutes() == 0 ? "" : (":" + date.getMinutes())) + " " + (date.getHours() > 12 ? "PM" : "AM");
    }

    //Apple any available Promo code
    var applyPromocode = function (data) {
        af_send_intent("apply_promocode", data);
    }


    //Redirect to PayTm MicroApp for Payment
    var showPaytmWallet = function (data) {
        af_send_intent("paytm_wallet", data);
    }

    //Clear Promocode if not to be applied
    var clearPromocode = function (data) {
        data.promo_code = "";
        af_send_intent("apply_promocode", data);
    }

    //Date Formatter
    var dateFormatter = function (dateStr) {
        var date = new Date(dateStr);
        return date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear() + " " + ((date.getHours() % 12) > 9 ? "" : "0") + (date.getHours() % 12) + ":" + date.getMinutes() + " " + (date.getHours() > 12 ? "PM" : "AM");
    }
