//Attendee details page
af-navbar-title(label="Attendee Details")
af-layout(direction="column" weight=1)
    af-divider
    af-progressbar
    //List View to display registration fields
    af-listview(items="ticketRegistrations")
        af-cell(direction="column")
            //Details of the attendee to be entered by user
            af-layout(direction="row" padding=10)
                af-label(text="Attendee ${index} - ${ticket.ticket_type}" appearance="title" weight=1 text-align="center")
                af-layout(direction="column" af-visible="$root.savedFieldGroups.length>0")
                    //To add previously saved details of user
                    af-pop-up(title="Attendee ${index} - ${ticket.ticket_type}")
                        af-trigger
                            af-icon(icon="ACCOUNT_PLUS" size=30 color="#000000")
                        af-pop(direction="column")
                            af-layout(direction="column" padding=10)
                                //List of saved user data shown
                                af-listview(items="$root.savedFieldGroups" height=200 af-onitemclick="selectItem($collectionScope, $data)")
                                    af-cell(direction="column")
                                        af-layout(direction="row" padding=10)
                                            af-label(text="${name($data)}" appearance="subhead")
            af-listview(items="fields" identifier-path="fieldtype")
                af-cell(padding=10 identifier="textbox")
                    af-textedit(input-type="name" hint="${fieldname}" bind="field_value" af-onchange="triggerValueChange($root)")
                af-cell(padding=10 identifier="radio2")
                    af-label(text="${fieldname}" dim appearance="caption")
                    af-listview(items="values")
                        af-cell(padding=10)
                            af-radio(label="${value}" bind="$parent.field_value" value="${value}")

                af-cell(padding=10 direction="column" identifier="radio")
                    af-pop-up(title="Select ${fieldname}")
                        af-trigger
                            af-label(text="${fieldname}" dim appearance="caption")
                            af-label(text="${field_value}" watch="field_value")
                        af-pop(direction="column")
                            af-listview(items="values" af-onitemclick="select($data, $collectionScope)")
                                af-cell(padding=10)
                                    af-layout(direction="row" padding=10)
                                        af-label(text="${value}" appearance="subhead")
                                    af-divider
                                //af-listview(items="values" height=300 af-onclick="setDropdown(scope,item)")
                                    af-layout(direction="column")
                                        af-layout(direction="row" padding=10)
                                            af-label(text="${value}" appearance="subhead")
                                        af-divider



//Go to Payment page
af-layout(direction="column" bg-color="#455696" inverted padding-top=5 padding-bottom=5 align="end")
    af-button(label="Proceed" af-onclick="pay($data)" af-enabled="validateRegistration($data)" watch="change")

script.

    var select = function (data, parent) {
        scope.log(JSON.stringify(data))
        scope.log(JSON.stringify(parent))
        parent.field_value = data.value;
        af_saveData();
        af_dismiss_dialog();
    }

    //
    var onLoad = function (data) {
        scope.log("HERE--", JSON.stringify(data.ticketRegistrations));
    }

    //
    var selectItem = function (collectionScope, data) {
        _.each(collectionScope.fields, function (field) {
            if (data[field.commonfieldid]) {
                field.field_value = data[field.commonfieldid];
            }
        })
        af_saveData();
        af_dismiss_dialog();
    }

    //
    var name = function (data) {
        return data['1'];
    }

    //
    var validateRegistration = function (data) {
        var errorField = _.find(data.ticketRegistrations, function (item, index) {
            return !validateFields(data.ticketRegistrations[index]);
        });
        return !errorField;
    }

    //
    var validateFields = function (attendeeData) {
        scope.log(JSON.stringify(attendeeData.fields));
        var errorField = _.find(attendeeData.fields, function (_item, index) {
            var item = attendeeData.fields[index];
            if (item.commonfieldid == 2) {
                item.valid = validateEmail(item.field_value);
                if (!item.valid) {
                    scope.log("Email Valid");
                }
                return !item.valid;
            }
            else if (item.commonfieldid == 3) {
                item.valid = validatePhonenumber(item.field_value);
                if (!item.valid) {
                    scope.log("Phone Valid");
                }
                return !item.valid;
            }
            item.valid = true;
            if (item.fieldmandatory) {
                if (!item.field_value) {
                    scope.log("Mandatory Valid" + item.field_name);
                    return true;
                }
            }
        });
        return !errorField;
    }

    //
    var validateFields2 = function (attendeeData) {
        var errorField = _.find(attendeeData.fields, function (_item, index) {
            var item = attendeeData.fields[index];
            scope.log(JSON.stringify(attendeeData.fields));
            if (item.commonfieldid == 2) {
                item.valid = validateEmail(item.field_value);
                return !item.valid;
            }
            else if (item.commonfieldid == 3) {
                item.valid = validatePhonenumber(item.field_value);
                return !item.valid;
            }
            item.valid = true;
            if (item.fieldmandatory) {
                if (!item.field_value) {
                    return true;
                }
            }
        });
        return !errorField;
    }

    //
    var pay = function (data) {
        af_send_intent("pay", data);
    }

    //
    var validateEmail = function (value) {
        if (value) {
            if (value.indexOf("@") != -1) {
                return value.split('@')[1].indexOf(".") != -1;
            }
            return false;
        }
        return false;
    }

    //
    var validatePhonenumber = function (value) {
        return /^([0|\+[0-9]{1,5})?([7-9][0-9]{9})$/.test(value);
    }


    var triggerValueChange = function (root) {
        root.change = !root.change;
        af_saveData();
    }