af-layout(direction="column")
   af-layout(direction="column" weight=1 padding=10)
      af-label(text="SELECT PAYMENT METHOD" appearance="title")
   //   af-label(text="Rs 1,527" appearance="caption" dim)
   //af-divider()
   //af-layout(direction="row")
   //   af-layout(direction="column" padding=5)
   //      af-icon-view(icon='WALLET' size=14 )
   //      af-label(text="Wallet" appearance="caption" dim)
   //   af-vertical-divider
   //   af-layout(direction="column" padding=5)
   //      af-icon-view(icon='BANK' size=14 )
   //      af-label(text="Net Banking" appearance="caption" dim)
   //   af-vertical-divider
   //   af-layout(direction="column" padding=5)
   //      af-icon-view(icon='CREDIT-CARD' size=14 )
   //      af-label(text="Card/EMI" appearance="caption" dim)
   //   af-vertical-divider
   //   af-layout(direction="column" padding=5)
   //      af-icon-view(icon='CREDIT-CARD-PLUS' size=14 )
   //      af-label(text="Saved Cards" appearance="caption" dim)

script.
//   var book = function (data) {
//      sysCall("open-link", {
//         "link": "skype://"
//      });
//   }



