//Event Title
af-navbar-title(label="${booked_ticket_details.response.eventSignupDetailData.eventData.title}")
af-layout(direction="column")
    af-layout(direction="column" bg-color="#f7f7f7")
        af-layout(direction="row" padding=10)
            af-layout(direction="column" weight=1 align="center")
                //Name of attendee displayed
                af-layout(direction="row")
                    af-label(text="Full Name: " appearance="subhead" dim)
                    af-label(text="${getAttendeeName($data)}" appearance="subhead")
                //Registration number of attendee displayed
                af-layout(direction="row")
                    af-label(text="Reg No: " appearance="subhead" dim)
                    af-label(text="${booked_ticket_details.response.eventSignupDetailData.eventsignupDetails.id}" appearance="subhead")
                //Event ID of attendee displayed
                af-label(text="Event ID : ${booked_ticket_details.response.eventSignupDetailData.eventsignupDetails.eventid}" dim appearance="subhead")

        af-divider
        af-layout(direction="row")
            af-layout(direction="column" weight=1 padding=10)
                af-label(text="Ticket Type" appearance="subhead")
            af-divider
            af-layout(direction="column" weight=1 padding=10)
                af-label(text="Amount" appearance="subhead" text-align="end")
        af-divider
        //List of Tickets booked
        af-listview(items="tickets")
            af-cell(direction="column")
                af-layout(direction="row")
                    af-layout(direction="column" weight=1 padding=10)
                        //Name and quantity of booked tickets
                        af-label(text="${name} x ${ticketquantity}" dim appearance="subhead")
                    af-divider
                    //Price of the booked ticket
                    af-layout(direction="column" weight=1 padding=10)
                        af-label(text="${ticketAmount($data)}" dim appearance="subhead" text-align="end")
                af-divider
        af-layout(direction="column" padding=10)
            af-layout(direction="row")
                //Total amount paid
                af-label(text="Total Purchase Amount: " dim)
                af-label(text="${ticketAmount(booked_ticket_details.response.eventSignupDetailData.eventsignupDetails)}" appearance="subhead" text-align="end")
            //Payment mode used
            af-layout(direction="row")
                af-label(text="Payment Mode: " dim)
                af-label(text="${booked_ticket_details.response.eventSignupDetailData.eventsignupDetails.paymentMode}" appearance="subhead" text-align="end")
    af-divider
    //Bar code generated for the tickets booked
    af-layout(direction="row" padding=10 align-items="center")
        //af-pop-up(title="Ticket Information")
            af-trigger
                af-icon(icon="INFORMATION" size=30 color="#000000")
            af-pop(direction="column")
                af-layout(direction="column")
                    af-layout(direction="row" padding=10 bg-color="#efefef")
                        af-layout(direction="column" align="center" padding-left=10 padding-right=10)
                            af-label(text="${weekDay(booked_ticket_details.response.eventSignupDetailData.eventData.startDate)}" appearance="caption")
                            af-label(text="${formatDate(booked_ticket_details.response.eventSignupDetailData.eventData.startDate)}" appearance="title")
                            af-label(text="${formatMonth(booked_ticket_details.response.eventSignupDetailData.eventData.startDate)}" dim appearance="caption")

                        af-layout(direction="column" weight=1 padding-left=10)
                            af-label(text="${booked_ticket_details.response.eventSignupDetailData.eventData.title}" appearance="subhead" )
                            af-label(dim text="Organized By  ${booked_ticket_details.response.eventSignupDetailData.organizerDetails.name}" appearance="caption")
                            af-label(text="${timeFormatter(booked_ticket_details.response.eventSignupDetailData.eventData.startDate)}" dim appearance="body_2")
                        af-divider
                    af-divider
                    af-layout(direction="column" padding=10)
                        af-layout(direction="row" af-onclick="openlocation(data)")
                            af-label(text="${booked_ticket_details.response.eventSignupDetailData.eventData.fullAddress}" appearance="subhead" weight=1)
                            af-icon-view(icon="DIRECTIONS" size=20)
                    af-divider
                    af-layout(direction="column" padding=10 align="center")
                        af-button(label="Call Organizer" af-onclick="callOrganiser(data)")



        af-layout(weight=1)
        //af-button(label="DONE" af-onclick="dismiss($data)" primary)
    af-layout(direction="column" padding=30 weight=1 align="center")
        af-imageview(src="http://stage.meraevents.com/barcode/barcode.php?text=${booked_ticket_details.response.eventSignupDetailData.eventsignupDetails.barcodenumber}&angle=0" scale="::" width=200 height=200)


script.

    //To get attendee name
    var getAttendeeName = function (data) {
        return data.booked_ticket_details.response.eventSignupDetailData.attendees.mainAttendee[0]['Full Name'];
    }

    ////Weekday Formatting
    var weekDay = function (dateStr) {
        var date = new Date(dateStr.replace(" ", "T"));
        if (date.getDay() == 0)
            return "SUN";
        else if (date.getDay() == 1)
            return "MON";
        else if (date.getDay() == 2)
            return "TUE";
        else if (date.getDay() == 3)
            return "WED";
        else if (date.getDay() == 4)
            return "THU";
        else if (date.getDay() == 5)
            return "FRI";
        else if (date.getDay() == 6)
            return "SAT";
    }


    ////Date Subscript Formatting
    var nth = function (d) {
        if (!(!(d > 3) || d >= 21)) return 'th'; // thanks kennebec
        switch (d % 10) {
            case 1:
                return "st";
            case 2:
                return "nd";
            case 3:
                return "rd";
            default:
                return "th";
        }
    }

    ////Add subscript to date
    var formatDate = function (dateStr) {
        var date = new Date(dateStr.replace(" ", "T"));
        return date.getDate() + nth(date.getDate());
    }

    //Month Formatting
    var formatMonth = function (dateStr) {
        var date = new Date(dateStr.replace(" ", "T"));
        if (date.getMonth() == 0)
            return "JAN";
        else if (date.getMonth() == 1)
            return "FEB";
        else if (date.getMonth() == 2)
            return "MAR";
        else if (date.getMonth() == 3)
            return "APR";
        else if (date.getMonth() == 4)
            return "MAY";
        else if (date.getMonth() == 5)
            return "JUN";
        else if (date.getMonth() == 6)
            return "JUL";
        else if (date.getMonth() == 7)
            return "AUG";
        else if (date.getMonth() == 8)
            return "SEP";
        else if (date.getMonth() == 9)
            return "OCT";
        else if (date.getMonth() == 10)
            return "NOV";
        else if (date.getMonth() == 11)
            return "DEC";
    }

    //Dismiss the page
    var dismiss = function (data) {
        af_dismiss();
    }




    //Display free tickets
    var ticketAmount = function (data) {
        if (data.totalamount) {
            return data.totalamount + " " + data.currencyCode;
        }
        return "FREE";
    }


    //Clear the stack
    var onLoad = function (data, scope) {
        af_clear_stack();

    }






    var nth = function (d) {
        if (!(!(d > 3) || d >= 21)) return 'th'; // thanks kennebec
        switch (d % 10) {
            case 1:
                return "st";
            case 2:
                return "nd";
            case 3:
                return "rd";
            default:
                return "th";
        }
    }

    var formatDate = function (dateStr) {
        var date = new Date(dateStr.replace(" ", "T"));
        return date.getDate() + nth(date.getDate());
    }

    var formatMonth = function (dateStr) {
        var date = new Date(dateStr.replace(" ", "T"));
        if (date.getMonth() == 0)
            return "JAN";
        else if (date.getMonth() == 1)
            return "FEB";
        else if (date.getMonth() == 2)
            return "MAR";
        else if (date.getMonth() == 3)
            return "APR";
        else if (date.getMonth() == 4)
            return "MAY";
        else if (date.getMonth() == 5)
            return "JUN";
        else if (date.getMonth() == 6)
            return "JUL";
        else if (date.getMonth() == 7)
            return "AUG";
        else if (date.getMonth() == 8)
            return "SEP";
        else if (date.getMonth() == 9)
            return "OCT";
        else if (date.getMonth() == 10)
            return "NOV";
        else if (date.getMonth() == 11)
            return "DEC";
    }

    var equalDates = function (date1, date2) {
        return !(date1.getDate() != date2.getDate() || date1.getMonth() != date2.getMonth() || date1.getYear() != date2.getYear())
    }

    var book = function (data) {
        processIntent("book", data);
    }

    var dateFormatter = function (dateStr) {
        var date = new Date(dateStr);
        return date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear() + " " + ((date.getHours() % 12) > 9 ? "" : "0") + (date.getHours() % 12) + ":" + date.getMinutes() + " " + (date.getHours() > 12 ? "PM" : "AM");
    }
    var pad = function (d) {
        return !(d >= 10) ? '0' + d.toString() : d.toString();
    }

    var timeFormatter = function (dateStr) {
        var date = new Date(dateStr.replace(" ", "T"));
        return (date.getHours() % 12) + (date.getMinutes() == 0 ? "" : (":" + date.getMinutes())) + " " + (date.getHours() > 12 ? "PM" : "AM");
    }