//Choose tickets title
af-navbar-title(label="Choose Tickets" identifier="tickets_view")
af-layout(direction="column" no-scroll)
    af-divider
    af-layout(elevation="level1")
        af-layout(direction="column" elevation="level1" bg-color="#FFFFFF" margin=10 padding=10 padding-left=18 padding-right=18)
            af-label(text="${event_details.response.details.title}" appearance="headline")
            af-layout(direction="row" af-onclick="openlocation(event_details.response.details)" margin-top=10)
                af-icon(icon="MAP_MARKER_RADIUS" size=22 dim)
                af-label(text="at ${event_details.response.details.venueName}, ${event_details.response.details.location.cityName}" appearance="subhead" margin-left=10 dim)
            af-layout(direction="row" af-onclick="openlocation(event_details.response.details)" margin-top=10 margin-bottom=10)
                af-icon(icon="CLOCK" size=22 dim)
                af-label(text="${timeFormatter(event_details.response.details.startDate)}" appearance="subhead" dim margin-left=10)
        //List of Event Tickets
        af-listview(items="event_details.valid_tickets")
            af-cell(direction="column")
                af-layout(direction="row" padding=10 align="center")
                    //Ticket Title and Ticket Price displayed
                    af-layout(direction="column" weight=1)
                        af-label(text="${name}" appearance="title" margin-top=10)
                        af-label(text="₹${price}" margin-bottom=10 dim appearance="subhead")
                    //Buttons to add or remove tickets
                    af-layout(direction="row" align="center")
                        af-button(icon="MINUS_CIRCLE_OUTLINE" af-onclick="decrement($data, $root)" )
                        af-label(text="${required_quantity}" watch="required_quantity" appearance="subhead")
                        af-button(icon="PLUS_CIRCLE_OUTLINE" af-onclick="increment($data, $root)")

                //af-layout(direction="row" padding=10 align="center")
                    //Ticket Title and Ticket Price displayed
                    //af-layout(direction="column" weight=1)
                        af-label(text="${name}" appearance="title" margin-top=10)
                        af-label(text="₹${price}" margin-bottom=10 dim appearance="subhead")
                            //af-label(text="${description}")
                        //af-layout(direction="row")
                            af-layout(direction="row" af-visible="($price>0)?'true':'false'")
                                af-label(text="${currencySymbol(currencyCode)}${price}")
                                af-label(text=" | ")
                            af-label(text="{$ticketDesc($data)}")
                        af-layout(direction="row" af-visible="isSoldout($data)")
                            af-label(text="Sold Out" dim)
                        //af-layout(direction="row" af-visible="type=='donation'?'true':'false'")
                            af-textedit(bind="donation_value" input-type="number" hint="Amount" appearance="subhead")
                        af-layout(direction="row" af-visible="(($data.type=='donation') || isSoldout($data) || upcoming($data))" align="center")
                            //Buttons to add or remove tickets
                                                //af-layout(direction="row" align="center")
                            //af-button(icon="MINUS_CIRCLE_OUTLINE" af-onclick="decrement($data, $root)" )
                            //af-label(text="${required_quantity}" watch="required_quantity" appearance="subhead")
                            //af-button(icon="PLUS_CIRCLE_OUTLINE" af-onclick="increment($data, $root)")
                        //af-button(primary label="-" af-onclick="decrement()" af-enabled="(canDecrease($data)?'true':'false')" watch="required_quantity")
                        //af-layout(direction="row" padding=10)
                            af-label(text="${required_quantity}" watch="required_quantity" text-align="center")
                        //af-button(primary label="+" af-onclick="increment()" af-enabled="(canIncrease($data)?'true':'false')" watch="required_quantity")

    af-layout(direction="row" weight=1)
    af-progressbar

//Bottom bar
af-layout(direction="row" bg-color="#000000" inverted)
    af-layout(weight=1 padding-left=10 padding-top=5 padding-bottom=5)
        //If tickets are selected, display total quantity and total price
        af-layout(direction="column" weight=1 af-visible="$data.total_tickets>0" watch="total_tickets")
            //Total number of tickets selected and total price dispalyed
            af-label(appearance="caption" text="${total_tickets} Tickets" watch="total_tickets")
            af-label(text="${totalAmount($data)} INR" appearance="title" watch="total_tickets")
    //Go to Register_view
    af-layout(direction="column" bg-color="#455696" inverted padding-right=10 padding-left=10 padding-top=5 padding-bottom=5 weight=1)
        af-button(label="PROCEED" af-onclick="register($data)" af-enabled="$root.total_tickets>0" watch="total_tickets")

script.

    //To show upcoming tickets
    var upcoming = function (ticketData) {
        return ticketData.upcomingTicket;
    }

    //To show sold out tickets
    var isSoldout = function (ticketData) {
        console.log("sold out", ticketData.soldout);
        return (ticketData.soldout || ticketData.pastTicket);

    }

    //To format tickets on basis of availability
    var ticketDesc = function (ticketData) {
        if (ticketData.upcomingTicket) {
            return "Coming Soon on " + dateFormat(ticketData.startDate);
        }
        else if (!isSoldout(ticketData)) {
            return "ends on " + dateFormat(ticketData.endDate);
        }
        return "";
    }

    //To display currency symbol
    var currencySymbol = function (code) {
        if (code == "INR") {
            return "₹";
        }
        else if (code == "USD") {
            return "$";
        }
    }

    //Format ticket details and send to next intent
    var register = function (data) {
        var tickets = [];
        var ticketArray = {};
        var donationArray = {};
        _.each(data.event_details.valid_tickets, function (item) {
            if (item.type == 'donation') {
                donationArray[item.id] = item.donation_value;
            }
            for (var i = 0; !(i >= item.required_quantity); i++) {
                if (!ticketArray[item.id]) {
                    ticketArray[item.id] = 1;
                }
                else {
                    ticketArray[item.id] = ticketArray[item.id] + 1;
                }
                tickets.push({
                    ticket_type: item.name,
                    ticket_id: item.id,
                    index: tickets.length + 1
                });

            }
        });
        data.event_details.tickets = tickets;
        data.ticketArray = ticketArray;
        data.donateTicketArray = donationArray;
        data.estimatedPrice = totalAmount(data);
        data.numberOfTickets = ticketArray.length;
        af_send_intent("next", data);

    }

    // To calculate total amount of tickets
    var totalAmount = function (data) {
        var total = 0;
        _.each(data.event_details.valid_tickets, function (item) {
            if (item.type == 'donation') {
                total = total + (item.donation_value ? parseInt(item.donation_value) : 0);
            }
            else {
                total = total + ((item.required_quantity ? item.required_quantity : 0) * item.price);
            }
        });

        return total;
    }

    //To increment number of tickets
    var increment = function (data, root) {
        if (canIncrease(data)) {
            if (data.required_quantity == 0) {
                if (data.minOrderQuantity > 0) {
                    data.required_quantity = data.minOrderQuantity;
                    root.total_tickets = root.total_tickets + data.minOrderQuantity;
                }
                else {
                    data.required_quantity = data.required_quantity + 1;
                    root.total_tickets = root.total_tickets + 1;
                }
            }
            else {
                data.required_quantity = data.required_quantity + 1;
                root.total_tickets = root.total_tickets + 1;
            }
            af_saveData();
        }
    }

    //To check, if ticket quantity can be increased
    var canIncrease = function (data) {
        if (data.required_quantity) {
            return !((data.required_quantity + 1) > data.maxOrderQuantity);
        }
        return true;
    }

    //To check, if ticket quantity can be decreased
    var canDecrease = function (data) {
        return data.required_quantity > 0;
        //((data.required_quantity-1) >= data.minOrderQuantity) || (data.required_quantity-1)==0;
    }

    //To decrement number of tickets
    var decrement = function (data, root) {
        if (canDecrease(data)) {
            data.required_quantity = (data.required_quantity ? data.required_quantity : 0) - 1;
            root.total_tickets = root.total_tickets - 1;
            af_saveData();
        }
    }

    //Date Subscript Formatting
    var nth = function (d) {
        if (!(!(d > 3) || d >= 21)) return 'th'; // thanks kennebec
        switch (d % 10) {
            case 1:
                return "st";
            case 2:
                return "nd";
            case 3:
                return "rd";
            default:
                return "th";
        }
    }

    //Month Formatting
    var formatMonth = function (dateStr) {
        var date = new Date(dateStr.replace(" ", "T"));
        if (date.getMonth() == 0)
            return "Jan";
        else if (date.getMonth() == 1)
            return "Feb";
        else if (date.getMonth() == 2)
            return "Mar";
        else if (date.getMonth() == 3)
            return "Apr";
        else if (date.getMonth() == 4)
            return "May";
        else if (date.getMonth() == 5)
            return "Jun";
        else if (date.getMonth() == 6)
            return "Jul";
        else if (date.getMonth() == 7)
            return "Aug";
        else if (date.getMonth() == 8)
            return "Sep";
        else if (date.getMonth() == 9)
            return "Oct";
        else if (date.getMonth() == 10)
            return "Nov";
        else if (date.getMonth() == 11)
            return "Dec";
    }

    //Add subscript to date
    var dateFormat = function (dateStr) {
        var date = new Date(dateStr.replace(" ", "T"));
        return date.getDate() + nth(date.getDate()) + " " + formatMonth(dateStr);
    }

    //Date Formatting
    var dateFormatter = function (dateStr) {
        var date = new Date(dateStr);
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        var hours = (date.getHours() % 12) > 9 ? (date.getHours() % 12) : "0" + (date.getHours() % 12);
        var minutes = date.getMinutes() > 9 ? date.getMinutes() : "0" + date.getMinutes();
        var ampm = date.getHours() > 12 ? "PM" : "AM";
        return day + "-" + month + "-" + year + " " + hours + ":" + minutes + " " + ampm;
    }

    //Time Formatting
    var timeFormatter = function (dateStr) {
        var date = new Date(dateStr.replace(" ", "T"));
        return (date.getHours() % 12) + (date.getMinutes() == 0 ? "" : (":" + date.getMinutes())) + " " + (date.getHours() > 12 ? "PM" : "AM");
    }