af-navbar-title(label="Confirmation Page")
af-layout(direction="column" weight=1)
	af-layout(direction="column" padding=10 inverted bg-color="#E5002D")
		//af-label(text="Your tickets for ${data.event_details.response.details.title} have booked, A Confirmation mail will be sent to you shortly" label-type="subhead")
	//af-divider
	//af-layout(direction="column" padding=10)
		af-layout(direction="row")
			af-layout(direction="row" flex=1)
				af-button(label="See Ticket" af-onclick="ticket(data)" primary)
script.
//
	var ticket = function (data) {
		processIntent("ticket", data);
	}