af-navbar-title(label="PayTM Wallet Login")
af-layout(direction="column")
   af-divider
   af-progressbar
   af-layout(direction="column" align="center")
      af-layout(direction="column")
         af-imageview(src="https://upload.wikimedia.org/wikipedia/en/4/42/Paytm_logo.png" height=100 scale="fit_center"  )
   af-label(text="Enter Mobile Number to login" dim appearance="title" text-align="center" margin=10)
   af-layout(direction="column" padding=10)
      af-textedit(appearance="subhead" hint="Mobile No" input-type="phone" bind="mobile" text-align="center")
af-layout(direction="column" bg-color="#455696" inverted padding-top=5 padding-bottom=5)
   af-button(label="SEND OTP" af-onclick="verify($data)" af-enabled="validMobile($data)" watch="mobile")

script.

   var onLoad = function (data) {

   }

   var validMobile = function(data){
      if(data.mobile){
         return data.mobile.length == 10;
      }
      else{
         return false;
      }
   }

   var verify = function (data) {
       af_send_intent("next", data);
   }