//Pay with Paytm
af-navbar-title(label="Pay with Paytm")
af-layout(direction="column")
    af-divider
    af-progressbar
    af-layout(direction="column" align="center")
        af-layout(direction="column")
            af-imageview(src="https://upload.wikimedia.org/wikipedia/en/4/42/Paytm_logo.png" height=100 scale="fit_center"  )
        af-label(text="Wallet Balance" appearance="caption" dim text-align="center" padding=10)
        af-label(text="₹ ${parseFloat(Math.round(paytm_balance.response.amount* 100) / 100).toFixed(2)}" appearance="title" )
        af-label(text="PAY" appearance="subhead" dim padding=10)
        af-label(text="₹ ${totalBillable}" appearance="headline" )
        af-layout(direction="row" align="center")
            af-layout(direction="column" padding=10 weight=1)
                af-label(text="Current Mobile Number : ${paytm_number}" appearance="caption" dim )
                af-button(label="Change Mobile Number" af-onclick="changeMobile($data)" appearance="subhead")
        af-layout(direction="row" align="center")
            af-layout(af-visible="$data.paytm_error?'true':'false'")
                af-label(text="$data.paytm_error" appearance="caption" dim)
        af-layout(direction="column" align="center" af-visible="$data.paytm_balance.response.amount!=0")
            af-checkbox(label="Use Paytm Wallet" bind="use_wallet")
af-layout(direction="column")
    af-layout(direction="column" af-visible="(!($data.use_wallet)||($data.rem_billable>0))?'true':'false'" watch="use_wallet" align="center")
        af-layout(direction="row" padding=10)
            af-label(text="Pay ${gatewayAmount($data)} via following options" watch="use_wallet" appearance="subhead")
        af-divider
        af-layout(direction="row" align="center" weight=1)
            af-layout(direction="column" padding=5 align="center" weight=1)
                af-button(icon='BANK' af-onclick="showPaytmNetbanking($data)")
                af-label(text="Net Banking" appearance="caption" )
            af-divider
            af-layout(direction="column" padding=5 align="center" weight=1)
                af-button(icon='CREDIT_CARD' af-onclick="showPaytmCards($data)")
                af-label(text="Card/EMI" appearance="caption" )
        af-divider
    af-layout(direction="column" bg-color="#455696" inverted af-visible="($data.use_wallet&&($data.rem_billable<=0))?'true':'false'" watch="use_wallet" align="end" padding-top=5 padding-bottom=5)
        af-button(label="PAY ${totalBillable} ${paytm_balance.response.currencyCode}" af-onclick="payWithPaytmWallet($data)")

script.
    //To change the mobile number
    var changeMobile = function (data) {
        data.mobile = "";
        af_send_intent("change_mobile", data);
    }

    //
    var onLoad = function (data) {
        viewAction("clear-stack-till", {"component-identifier": "pay_view"});
    }

    //To calculate remaining amount to be paid after recharging wallet
    var gatewayAmount = function (data) {
        if (data.use_wallet) {
            return parseFloat(Math.round((data.totalBillable - data.paytm_balance.response.amount) * 100) / 100).toFixed(2);
        }
        else {
            return parseFloat(Math.round(data.totalBillable * 100) / 100).toFixed(2);
        }
    }

    //To show paytm saved cards/new cards payment
    var showPaytmCards = function (data) {
        af_send_intent("paytm_card", data);
    }

    //Go to NetBanking Page
    var showPaytmNetbanking = function (data) {
        af_send_intent("paytm_netbank", data);
    }

    //To pay through PAytm wallet
    var payWithPaytmWallet = function (data) {
        af_send_intent("pay_with_paytm_wallet_only", data)

    }
