af-navbar-title(label="Verify Mobile")
af-layout(direction="column")
    af-divider
    af-progressbar
    af-layout(direction="column" align="center")
        af-layout(direction="column")
            af-imageview(src="https://upload.wikimedia.org/wikipedia/en/4/42/Paytm_logo.png" height=100 scale="fit_center"  )
        af-label(text="Enter the OTP received on ${mobileNumber($data)}" dim appearance="title" text-align="center" margin=10)
        af-layout(direction="column" padding=10)
            af-textedit(appearance="subhead" hint="Verification Code" input-type="number" bind="paytm_otp" text-align="center")
af-layout(direction="column" bg-color="#455696" inverted padding-top=5 padding-bottom=5)
    af-button(label="VERIFY OTP" af-onclick="verify($data)" af-enabled="validOTP($data)" watch="paytm_otp")

//af-navbar-title(label="Verify Mobile")
//af-layout(direction="column")
    af-layout(direction="column" padding=10)
        af-imageview(src="https://upload.wikimedia.org/wikipedia/en/4/42/Paytm_logo.png" height=70 scale="center")
        //af-label(text="Enter the OTP received on ${mobileNumber}" dim appearance="subhead")
            //af-layout(direction="column" padding=10)
                af-textedit(appearance="subhead" hint="Verification Code" input-type="number" af-value="data.paytm_otp" text-align="center")
            //af-divider
    //af-layout(direction="column" bg-color="#455696" inverted padding-top=5 padding-bottom=5)
        af-button(label="SEND OTP" af-onclick="verify($data)" af-enabled="validMobile($data)" watch="mobile")

    //af-layout(direction="column" padding=10)
        af-layout(direction="column" align="center" padding=10)
            af-image-view(src="https://upload.wikimedia.org/wikipedia/en/4/42/Paytm_logo.png" width=70 scale="::")
        af-layout(direction="column" align="center")
            af-label(text="Enter the OTP received on ${mobileNumber}" dim appearance="subhead")
        af-layout(direction="column" padding=10)
           af-textedit(appearance="subhead" hint="Verification Code" input-type="number" af-value="data.paytm_otp" text-align="center")
            af-divider
            af-progress
        af-layout(direction="column" padding=10)
            af-button(primary label="VERIFY" af-onclick="verify(data)" af-enabled="(validOTP(data)?'true':'false')" watch="data.paytm_otp")
        af-layout(direction="row" padding=10)
            af-button(label="Resend OTP" af-onclick="resend(data)")
            af-layout(direction="column" weight=1)
                af-button(label="Change Number" af-onclick="changeMobile(data)")

        af-layout(direction="column" padding=10 af-visible="data.paytm_error?'true':'false'" align="center")
            af-label(text="${data.paytm_error}" dim)


script.
    var mobileNumber = function (data) {
        if (data.mobile) {
            return data.mobile;
        }
        else {
            return data.paytm_number;
        }
    }

    var validOTP = function (data) {
        return data.paytm_otp.length == 6;
    }

    var verify = function (data) {
        data.paytm_error = null;
        af_send_intent("next", data);
    }

    var resend = function (data) {
        data.paytm_error = null;
        af_send_intent("resend", data);
    }

    var changeMobile = function (data) {
        data.paytm_error = "";
        data.mobile = "";
        af_send_intent("change_mobile", data);
    }