//Card Details Title
af-navbar-title(label="Card Details")
af-layout(direction="column")
    af-divider
    af-progressbar
    af-layout(direction="row" padding=10 align="center")
        af-layout(direction="row" align="start")
            af-layout(direction="row" padding=5)
                af-label(text="Pay" appearance="caption")
            //Total amount to be paid
            af-label(text="${gatewayAmount($data)} ${calculations.response.calculationDetails.currencyCode}" appearance="title")
    af-layout(direction="column" padding=10)
        //Pop up to enter card details
        af-pop-up(title="Pay using this Card")
            af-trigger(direction="row")
                af-icon(icon='CREDIT_CARD' size=30)
                af-label(text="New Card" appearance="title" margin-left=10)
            af-pop(direction="column")
                af-layout(direction="column" padding=10)
                    af-layout(direction="column" bg-color="#FFFFFF")
                        af-layout(direction="column" padding=10)
                            af-textedit(appearance="subhead" bind="card_number" hint="Card Number" input-type="number" af-onchange="cc_format($data)" watch="card_number")
                        af-layout(direction="row")
                            af-layout(direction="column" weight=2 padding=10)
                                af-textedit(appearance="subhead" hint="Exp:MM/YY" input-type="number" bind="cc_month" af-onchange="date_format(scope)")
                            af-layout(direction="column" weight=1 padding=10)
                                af-textedit(appearance="subhead" hint="CVV" input-type="number" bind="cvv")
                        af-layout(direction="column" padding=10)
                            af-textedit(appearance="subhead" hint="Name On Card" bind="name_on_card")
                        af-layout(direction="row" padding=10)
                            af-checkbox(label="Save this card" af-value="data.save_card")
                            af-button(primary label="PAY" af-onclick="getCardParams($data)")
                        af-layout(direction="row")
                            //Clear all card details and dismiss
                            af-layout(padding-left=10 padding-top=5 padding-bottom=5)
                                af-button(label="DISMISS" af-onclick="dismiss()")
                            af-layout(padding-right=10 padding-top=5 padding-bottom=5 weight=1)
                                af-button(label="PROCEED" af-onclick="getCardParams($data)" primary raised)

    af-layout(direction="column" weight=1)
        af-divider
        af-layout(padding=15)
            af-label(text="SAVED CARDS" dim)
        //List of Saved Cards
        af-listview(items="paytm_saved_cards.BIN_DETAILS" weight=1 af-onitemclick="selectCard($data)")
            af-cell(direction="column")
                //Pop up to select your card
                af-pop-up(title="Select your Card")
                    af-trigger
                        af-layout(direction="row" align="center" padding=10)
                            af-icon(icon='CREDIT_CARD' size=20 color="#08306D" padding=5)
                            af-label(text=" ${CARDBIN.substring(0,4)}-${CARDBIN.substring(4,7)} * * - * * * * - ${CARDLASTDIGIT}" appearance="subhead")
                        af-divider
                    af-pop(direction="column")
                        af-layout(direction="column" padding=10)
                            af-layout(direction="row")
                        af-divider
                        af-layout(direction="column" bg-color="#FFFFFF")
                            af-layout(direction="column" padding=10)
                                af-label(dim text="CARD NUMBER" appearance="caption")
                                af-label(appearance="subhead" text="${CARDBIN.substring(0,4)}-${CARDBIN.substring(4,7)} * * - * * * * - ${CARDLASTDIGIT}")
                                //Enter CVV here
                            af-layout(direction="column" weight=1 padding=10)
                                af-textedit(appearance="subhead" hint="CVV" input-type="number" bind="saved_card_cvv")
                            //Pay button to proceed
                            af-layout(direction="column" padding=10)
                                af-button(primary label="PAY" af-onclick="getSavedCardParams($data, $root)" color="#FFFFFF")


script.

    //To calculate remaining amount to be paid after recharging wallet
    var gatewayAmount = function (data) {
        if (data.use_wallet) {
            return parseFloat(Math.round((data.totalBillable - data.paytm_balance.response.amount) * 100) / 100).toFixed(2);
        }
        else {
            return parseFloat(Math.round(data.totalBillable * 100) / 100).toFixed(2);
        }
    }

    //Open Payment Window
    var onData = function (data) {
        if (data.open_payment_window) {
            pay(data);
        }
    }

    //Dismiss the page
    var dismiss = function () {
        af_dismiss_dialog();
    }

    //Go to verify intent
    var verify = function (data) {
        af_send_intent("verify", data);
    }

    //To format card details entered by user
    var cc_format = function (data) {
        var v = data.card_number.replace(/\s+/g, '').replace(/[^0-9]/gi, '');
        var matches = v.match(/\d{4,16}/g);
        var match = '';
        if (matches) {
            if (matches[0]) {
                match = matches[0];
            }
        }
        var parts = [];
        for (i = 0, len = match.length; !(i >= len); i += 4) {
            parts.push(match.substring(i, i + 4))
        }
        if (parts.length) {
            data.card_number = parts.join('-');
            af_saveData();
        }
    }

    //To format the expiry date of the card
    var date_format = function (data) {
        var v = scope.data.cc_month.replace(/\s+/g, '').replace(/[^0-9]/gi, '')
        var matches = v.match(/\d{2,4}/g);
        var match = '';
        if (matches) {
            if (matches[0]) {
                match = matches[0];
            }
        }
        var parts = [];
        for (i = 0, len = match.length; !(i >= len); i += 2) {
            parts.push(match.substring(i, i + 2))
        }
        if (parts.length) {
            scope.data.cc_month = parts.join('/');
            f_saveData();
        }
    }
    //To make payment through card
    var pay = function (data) {
        af_open_webintercept({
            callback_intercept: "https://production.appsfly.io/paytm/posted-params",
            url: "https://secure.paytm.in/oltp-web/processTransaction?orderid=" + data.save_attendee_data.orderId,
            headers: {
                "content-type": "application/x-www-form-urlencoded",
                "Cookie": "PHPSESSID=" + data.saveAttendee.PHPSESSID
            },
            method: "POST",
            body: data.payment_window_params.data,
            title: "Pay",
            callback: "forward(url, $root)",
            data: data
        });
    }

    //To forward to MeraEvents after payment is complete
    var forward = function (url, root) {
        root.web_response = url;
        af_send_intent("forward_meraevents", root);
    }

    //To create Card parameters
    var getCardParams = function (data) {
        var data = scope.data;
        if (!data.cc_month || !data.card_number || !data.cvv) {
            data.cc_details = {
                month: data.cc_month.split("/")[0],
                year: "20" + data.cc_month.split("/")[1],
                cnum: data.card_number.replace(/\s+/g, '').replace(/[^0-9]/gi, ''),
                cvv: data.cvv
            }
            af_send_intent("pay_new_card", data);
            scope.save();
        }
    }

    //To get saved card parameters if user selects save new card
    var getSavedCardParams = function (data, root) {
        var selectedCard = data;
        root.cc_details = {
            saved_card_id: selectedCard.SAVE_CARD_ID,
            cvv: selectedCard.saved_card_cvv
        }
        af_dismiss_dialog();
        af_send_intent("pay_saved_card", root);
    }