//Net banking Title
af-navbar-title(label="Net Banking")
af-layout(direction="column")
   af-divider
   af-progressbar
   //af-layout(direction="row" padding=10 align="center")
      af-layout(direction="row" weight=1)
         af-imageview(src="https://upload.wikimedia.org/wikipedia/en/4/42/Paytm_logo.png" height=100 scale="fit_center")
      af-layout(direction="row" align="end")
         af-layout(direction="row" padding=3)
            af-label(text="Pay" appearance="caption")
         af-label(text="${gatewayAmount($data)} ${calculations.response.calculationDetails.currencyCode}" appearance="title")
   //af-divider
   af-layout(direction="column")
      af-layout(direction="row" align="center" padding=10)
         af-icon(icon="BANK" size=25 margin=5)
         //List of Banks
         af-pop-up(title="Select your bank")
            af-trigger
               af-label(text="${selectedBankName($data)}" appearance="subhead" watch="selected_bank,selected_bank.BANK_NAME")
            af-pop(direction="column")
               af-layout(direction="column" padding=10)
                  af-divider
                  af-listview(items="paytm_banks.BANK_LIST" height=300 af-onitemclick="selectBank($data, $root)")
                     af-cell(direction="column")
                        af-layout(padding=10)
                           af-label(text="${BANK_NAME}" appearance="subhead")
                        af-divider

         //af-select(af-onclick="clearSelection(scope)")
            af-trigger-view(direction="column" padding=5 flex=1)
               af-layout(direction="column" padding=5)
                  af-label(text="${selectedBankName(data)}" label-type="subhead" watch="data.selected_bank,data.selected_bank.BANK_CODE")
               af-divider()
            af-layout(direction="column")
               af-layout(direction="column" padding=10 inverted bg-color="primary-color")
                  af-label(text="Select Bank" label-type="subhead" color="primary-color-inverted")
               af-list-view(items="data.paytm_banks.BANK_LIST" height=300 af-onclick="selectBank(scope, item)")
                  af-layout(direction="column")
                     af-layout(direction="row" padding=10)
                        af-label(text="${data.BANK_NAME}" label-type="subhead")
                     af-divider()
      af-divider
      af-layout(direction="column" padding=5)
         af-label(text="Note:If you are an ING Vysya now Kotak customer, please select Kotak Mahindra Bank from the list of banks and complete the transaction" dim)

//Go to particular bank page
af-layout(direction="column" bg-color="#455696" inverted padding-top=5 padding-bottom=5)
   af-button(label="PAY ${gatewayAmount($data)} ${calculations.response.calculationDetails.currencyCode}" af-onclick="getBankParams($data)" watch="selected_bank")

script.

   //Opens Payment Window
   var onData = function(root){
      if(root.open_payment_window){
         pay(root);
      }
   }

   //To calculate remaining amount to be paid after recharging wallet
   var gatewayAmount = function (data) {
      if (data.use_wallet) {
         return parseFloat(Math.round((data.totalBillable - data.paytm_balance.response.amount) * 100) / 100).toFixed(2);
      }
      else {
         return parseFloat(Math.round(data.totalBillable * 100) / 100).toFixed(2);
      }
   }

   //open bank web page
   var pay = function (data) {
      af_open_webintercept({
         callback_intercept: "https://production.appsfly.io/paytm/posted-params",
         url: "https://secure.paytm.in/oltp-web/processTransaction?orderid=" + data.save_attendee_data.orderId,
         headers: {
            "content-type": "application/x-www-form-urlencoded",
            "Cookie":"PHPSESSID="+data.saveAttendee.PHPSESSID
         },
         method: "POST",
         body: data.payment_window_params.data,
         title: selectedBankName(data),
         callback: "forward(url, $root)",
         data: data,
         injectionParam:"data.web_response"
      });
   }

   //To forward to MeraEvents after payment is complete
   var forward = function (url, root) {
       root.web_response = url;
       af_send_intent("forward_meraevents", root);
   }

   //Return selected bank name
   var selectedBankName = function(data){
      if(data.selected_bank){
         return data.selected_bank.BANK_NAME;
      }
      else{
         return "SELECT BANK";
      }
   }

   //To select any bank
   var selectBank = function(data, root){
      root.selected_bank = data;
      af_saveData();
      af_dismiss_dialog();
   }

   //Go to bank web page
   var getBankParams = function (data) {
       af_send_intent("next", data);
   }