af-navbar-title(label="Verify Mobile")
af-layout(direction="column")
	af-layout(direction="column" padding=20)
		af-label(text="Enter CVV" dim)
		//af-layout(direction="column" padding=20)
			af-edit-text(appearance="subhead" hint="Verification Code" input-type="number" af-value="data.paytm_otp")
			af-divider
			af-progress
			af-layout(direction="column" padding=20)
				af-button(primary label="VERIFY" af-onclick="verify(data)")
				af-layout(direction="row")
					af-button(label="RESEND OTP" af-onclick="resend(data)" weight=1)
					af-button(label="CHANGE NUMBER" af-onclick="changeNumber(data)" weight=1)

script.
//	var verify = function (data) {
//		processIntent("next", data);
//	}
//
//	var resend = function (data) {
//		processIntent("resend", data);
//	}
//
//	var changeNumber = function (data) {
//		processIntent("change_number", data);
//	}